{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">Django blog</h1>
    <p>
        Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
    </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
             <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
</section>
</main>

{% endblock %}